<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>تسجيل الدخول</title>
</head>

<body>
  <div class="container">
    <div class="info">
      <img src="assets/images/sign in.png" alt="Illustration" class="illustration">
      <h1>مرحباً بك في موقع مهمتك</h1>
      <p>مهمتك هو عبارة عن موقع الكتروني يساعدك في إنجاز مهامك بسهولة</p>
    </div>
    <div class="login-form">
      <h2>تسجيل الدخول</h2>
      <form>
        <label for="email">البريد الالكتروني</label>
        <input type="email" id="email" placeholder="example@gmail.com" required>

        <label for="password">كلمة المرور</label>
        <div class="password-container">
          <input type="password" id="password" placeholder="********"required>
          <span class="toggle-password" onclick="togglePassword()">👁️</span>
        </div>

        <a href="#">نسيت كلمة المرور؟</a>
        <button type="submit">تسجيل الدخول</button>
        <a href="#" class="create-account">ليس لديك حساب؟ إنشاء حساب</a>
      </form>
    </div>
  </div>
</body>

</html>